<div style="padding: 100px; height: 100%; box-sizing: border-box;">
  <app-photo [filename]="imageFile"></app-photo>
  <mat-card class="mat-card">
    <file-explorer [fileElements]="fileElements | async" [path]="currentPath" [canNavigateUp]="canNavigateUp" (folderAdded)="addFolder($event)"
      (elementRemoved)="removeElement($event)" (navigatedDown)="navigateToFolder($event)" (showFile)="showFile($event)" (navigatedUp)="navigateUp()" (elementRenamed)="renameElement($event)"
      (elementMoved)="moveElement($event)">
    </file-explorer>
  </mat-card>
</div>
